@import "./quasar.variables.scss";
// del {
//     display: inline;
// }
.次要 {
    font-size: $小字 * 0.9;
    color: $grey;
}
.换行 {
    flex-wrap: wrap;
}
.上圆角 {
    border-radius: 5px 5px 0px 0px;
}

.撑开 {
    display: flex;
    flex-grow: 1;
}

.q-img__content > div {
    padding: 2px;
}

body,
html.dark,
html {
    font-size: $小字 !important;
    font-family: "KaiTi" !important;
}
@media (max-width: 850px) {
    body,
    html.dark,
    html {
        font-size: $小字 * 0.8 !important;
    }
}
.q-btn {
    font-size: $小字;
    line-height: 1em;
    text-transform: none;
}
.按钮icon {
    i{
        font-size: $小字 !important;
    }
}

.小字 {
    font-size: $小字;
}

.中字 {
    font-size: ($小字 * 1.2);
}
.大字 {
    font-size: ($小字 * 1.5);
}

.黑底白字 {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

summary {
    display: list-item;
}

// 深色切换动画
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 9999;
}

.dark::view-transition-new(root) {
    z-index: 1;
}

.dark::view-transition-old(root) {
    z-index: 9999;
}

.涟漪容器 {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    pointer-events: none;
    overflow: hidden;
}

.无界 ~ .涟漪容器 {
    overflow: visible;
}

.涟漪容器 span {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $primary;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: 涟漪动画 1s ease;
    pointer-events: none;
}

.涟漪容器.dark span {
    background-color: #fff;
}

@keyframes 涟漪动画 {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    to {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}
.box阴影 {
    box-shadow: 0 1px 5px rgba($primary, 0.2), 0 2px 2px rgba($primary, 0.14),
        0 3px 1px -2px rgba($primary, 0.12);
}

.放大显影 {
    width: 100%;
    max-width: 350px;
    transition: transform $header-quick-transition, box-shadow $header-quick-transition;
    &:hover {
        box-shadow: 0 8px 8px 0 rgba($dark, 0.2) !important;
        transform: scale(1.05);
        z-index: 999;
    }
}
.文字放大显影 {
    transition: transform $header-quick-transition, text-shadow $header-quick-transition;
    &:hover {
        text-shadow: -6px -1px 5px rgba($dark, 0.8) !important;
        transform: scale(1.5);
        z-index: 999;
        cursor: none;
    }
}
.dark {
    .放大显影 {
        &:hover {
            box-shadow: 0 4px 8px 0 rgba($brand-primary, 0.8) !important;
        }
    }
    .文字放大显影 {
        &:hover {
            text-shadow: -6px -1px 7px rgba($brand-primary, 0.8) !important;
        }
    }
    .q-btn:before {
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2), 0 2px 2px rgba(255, 255, 255, 0.14),
            0 3px 1px -2px rgba(255, 255, 255, 0.12);
    }
    .box阴影 {
        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2), 0 2px 2px rgba(255, 255, 255, 0.14),
            0 3px 1px -2px rgba(255, 255, 255, 0.12);
    }
}

h1 {
    font-size: 2.4em;
    font-weight: 700;
    margin: 1em 0;
    display: flex;
    align-items: center;
}
h2,
.text-h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0.8em 0;
}

h3 {
    margin: 0.6em 0;
    font-size: 1.6em;
    font-weight: 500;
}

h4,
.text-h4 {
    margin: 0.4em 0;
    font-size: 1.4em;
    font-weight: 500;
}
h5 {
    margin: 0.2em 0;
    font-size: 1em;
    font-weight: 500;
}
h6 {
    margin: 0.1em 0;
    font-size: 1em;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $brand-primary;
    word-break: break-word;
    letter-spacing: $letter-spacing-brand;
    padding: 0;
    line-height: 1.1em;
}
.vp-doc {
    blockquote > p {
        font-size: 1em;
    }
    .custom-block {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 16px 16px 8px;
        line-height: 24px;
        font-size: 1em;
    }
    img {
        border-radius: 0.375rem;
        border: 1px solid #c7c7c7;
    }

    blockquote {
        padding: 0.5rem;
        border: 1px solid $grey-5;
        border-left: 5px solid $grey-5;
        border-radius: 0.5rem;
        margin: 0.2rem 0 !important;
        background-color: $grey-2;
    }

    // h1 {
    //   @extend h1;
    // }
    // h2 {
    //   @extend h2;
    // }
    @for $i from 1 through 6 {
        h#{$i} {
            @extend h#{$i}; // 继承顶层h1到h6的样式
        }
    }
    h1 {
        margin: 0 0 0.5em;
    }

    h3 {
        &:before {
            content: "» ";
            vertical-align: text-top;
        }
    }
    h4 {
        &:before {
            content: "»» ";
            vertical-align: text-top;
        }
    }

    h5 {
        &:before {
            content: "»»» ";
            vertical-align: text-top;
        }
    }

    h6 {
        &:before {
            content: "»»»» ";
            vertical-align: text-top;
        }
    }
}

.dark {
    .vp-doc {
        blockquote {
            background-color: $grey-14;
        }
    }
}
